<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asc.neetk.whatsplaying" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Appsett"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="WhatsPlayin"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".fouract"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_fouract"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".central"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignupActivity"
            android:label="@string/title_activity_login_signup" />
        <activity
            android:name=".MySongs"
            android:label="Your History"
            android:parentActivityName=".central" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asc.neetk.whatsplaying.central" />
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.asc.neetk.contentprovider"
            android:exported="true"
            android:readPermission="true"
            android:writePermission="true" />

        <activity
            android:name=".signupActivity"
            android:label="Signup"
            android:parentActivityName=".LoginSignupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asc.neetk.whatsplaying.LoginSignupActivity" />
        </activity>
        <activity
            android:name=".forgotPass"
            android:label="Forgot Password"
            android:parentActivityName=".LoginSignupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asc.neetk.whatsplaying.LoginSignupActivity" />
        </activity>
        <activity
            android:name=".profilePic"
            android:label="Your Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".central" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asc.neetk.whatsplaying.central" />
        </activity>
        <activity
            android:name=".checking"
            android:label="@string/title_activity_checking" >
        </activity>
    </application>

</manifest>
